In [149]:
import pandas as pd
import matplotlib.pyplot as plt

In [150]:
#convert to ascii to get rid of the special characters
df = pd.read_excel('data/sample_data.xlsx', encoding="ascii")

In [151]:
df.columns

Index(['customer_id', 'gender', 'age', 'total_score', 'industry', 'title',
       'skills'],
      dtype='object')

In [152]:
df.head()

,customer_id,gender,age,total_score,industry,title,skills
0,1,NaN,NaN,3.45,Information Technology and Services,NaN,NaN
1,2,NaN,NaN,3.44,Internet,NaN,NaN
2,3,NaN,0-0,10.49,NaN,NaN,NaN
3,4,Male,0-0,3.46,Construction,"Functional Architect, Business Technology","SharePoint,Management ,Business Intelligence ,..."
4,5,NaN,NaN,3.45,NaN,NaN,NaN

In [153]:
df.describe()

       customer_id  total_score
count  5022.000000  5022.000000
mean   2511.500000     5.853035
std    1449.870856     3.336261
min       1.000000     0.450000
25%    1256.250000     3.430000
50%    2511.500000     3.470000
75%    3766.750000    10.460000
max    5022.000000    10.940000

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5022 entries, 0 to 5021
Data columns (total 7 columns):
customer_id    5022 non-null int64
gender         757 non-null object
age            3009 non-null object
total_score    5022 non-null float64
industry       4148 non-null object
title          2593 non-null object
skills         2366 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 274.7+ KB

In [155]:
print(df.shape)

(5022, 7)

In [156]:
#check each variable for missing values
print("Total NA:", sum(df.age.isnull().values.ravel()))
print("NA %:", "{:.1%}".format(sum(df.age.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 2013
NA %: 16.5%

In [157]:
print("Total NA:", sum(df.gender.isnull().values.ravel()))
print("NA %:", "{:.1%}".format(sum(df.gender.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 4265
NA %: 34.9%

In [158]:
print("Total NA:", sum(df.industry.isnull().values))
print("NA %:", "{:.1%}".format(sum(df.industry.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 874
NA %: 7.1%

In [159]:
print("Total NA:", sum(df.title.isnull().values))
print("NA %:", "{:.1%}".format(sum(df.title.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 2429
NA %: 19.8%

In [160]:
print("Total NA:", sum(df.skills.isnull().values))
print("NA %:", "{:.1%}".format(sum(df.skills.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 2656
NA %: 21.7%

In [161]:
#Cleaning industry

In [162]:
#slice the industry into a dataframe
df_ind = df[['customer_id','industry']] 
print("Total rows:", df_ind.shape)
print("Total NA:", sum(df_ind.isnull().values))
print("NA %:", "{:.1%}".format(sum(df_ind.isnull().values.ravel())/sum(df_ind.isnull().values.ravel())))
if isinstance(df['industry'], str):
    print("Encoding is ordinary string")
else:
    print("Encoding is not a string")
    
#check the type
print("Encoding is ", type(df['industry']))
df_ind.to_csv('df_ind_initial.csv', sep = ',')

Total rows: (5022, 2)
Total NA: [  0 874]
NA %: 100.0%
Encoding is not a string
Encoding is  <class 'pandas.core.series.Series'>

In [163]:
type(df_ind)

pandas.core.frame.DataFrame

In [164]:
#remove missing values

#df_ind1 = [x for x in df_ind if x != []]

#df_ind = df_ind[np.isfinite(df_ind['industry'])]
df_ind = df_ind[pd.notnull(df_ind['industry'])]

#df_ind = df_ind.dropna(how='all')
print("Total rows:", df_ind.shape)
print("Total NA:", sum(df_ind.isnull().values))
print("NA %:", "{:.1%}".format(sum(df_ind.isnull().values.ravel())/sum(df_ind.isnull().values.ravel())))
df_ind.to_csv('df_ind_no_na.csv', sep = ',')

Total rows: (4148, 2)
Total NA: [0 0]
NA %: nan%

In [165]:
#remove all '_x000D' and '_x000D_' from the beginning of the values

type(df_ind)

df_ind['industry'] = df_ind['industry'].str.replace('_x000D_', '')


df_ind.to_csv('df_ind_no_x000D.csv', sep = ',')

In [166]:
#DO NOT USE
#remove 'http://' from the beginning of the values

#df_ind['industry'] = df_ind['industry'].str.replace('http', '')
#for i, line in enumerate(df_ind['industry']):
#    if line.startswith('http'):
#        df_ind.drop(line.startswith('http'))
        

#df_ind['industry'] = df_ind[df_ind['industry'].line.startswith('http')]

#print("Total rows:", df_ind.shape)
#df_ind.to_csv('df_ind_no_http.csv', sep = ',')

In [167]:
#replace '&' with 'AND'
df_ind['industry'] = df_ind['industry'].str.replace("&","AND")
df_ind.to_csv('df_ind_no&.csv', sep = ',')

In [168]:
#convert all to lowercase
df_ind['industry'] = df_ind.industry.str.lower()
df_ind.head()
df_ind.to_csv('df_ind_lower.csv', sep = ',')

In [169]:
#split by comma
df_ind = pd.concat([pd.Series(row['customer_id'], row['industry'].split(','))
           for _, row in df_ind.iterrows()]).reset_index()

In [170]:
#NEEDS TO BE FIXED
#remove whitespace padding from splitted values
#df_ind['industry'] = df_ind['industry'].str.lstrip()

In [171]:
#add column names
column_names = ["industry",'customer_id']

df_ind.columns = column_names

#add a new column and populate dummy values

df_ind['dummies'] = 1

In [173]:
#crosstab to set up for PCA

df_ind_cross = pd.crosstab(df_ind.customer_id, df_ind.industry)

df_ind_cross.to_csv('df_ind_crosstab.csv', sep = ',')

In [148]:


#df_ind.pivot(index='customer_id', columns='industry', values='dummies')

In [45]:


#with df_ind as f:
#    lis = [x.split() for x in f]

#for x in zip(*lis):
#  for y in x:
#    print(y+'\t', end='')
#  print('\n')

In [46]:
#function for breaking up values into columns
def get_ind(row):
    industries[row] = row.split(',')
    
    return industries

In [47]:
ind_list = df_ind.apply(get_ind)

AttributeError: ("'Series' object has no attribute 'split'", 'occurred at index industry')

In [48]:
list(ind_list)

NameError: name 'ind_list' is not defined

In [63]:
ind_flat = lambda l: [item for sublist in l for item in sublist]

In [64]:
#flatten the list and remove duplicates

ind_flat_ls = list(set(ind_flat(ind_list))) 

#remove whitespaces _x000D, special characters, convert to the same case

In [98]:
#apply the industry column names
df1 = pd.DataFrame(columns = ind_flat_ls) 
df1.head()

Empty DataFrame
Columns: [, Health & Nutrition Products, Newspapers, Application Software , Aviation & Aerospace, Computer Software, Sporting Goods, Internet Software, Insurance_x000D_
, Retail, Home Furnishing Retail, Health, Computer Networking, Human Resources
,  Data Visualization, Finance App you can carry in your pocket, Education Management
, Grocery, Defense & Space, studioD, Acounting, Movies & Entertainment, Translation and Localization, Graphic Design,  Oil & Gas, marketing and advertising, Colleges, Telecommunication, Jewelry & Watches, civil engineering, staffing and recruiting, Restaurants, Human recources, Construction, Medical Practice, Market Research_x000D_
, Online Media
, Broadcast Media, Finance, Cable & Satellite, Program Development, Industrial Automation, Compter Software, music, Food,  Advertising, Food & Beverages
, food and beverage, Accounting & Accounting Services, Primary/Secondary Education, Water & Water Treatment, Public Relations and Communications, Capital Markets,  Bus & Taxi, Media company, Mobile Applications, Radio Stations, Market Research,  Website Hosting & Internet-related Services, Boats & Submarines,  Legal & HR Software, Information Services, Civic & Social Organization, Social network, computet software, design, Oil & Energy, Online media,  Travel & Tourism, Furniture, Newspapers & News Services, Medical Practice
, Engineering Software, Music & Music Related Services, Providence,  Energy, Bachelor of Business Administration (B.B.A.),  Convenience & Liquor Stores, Architecture,  Natural Gas,  Recruiti,  Engineering & Design, Plastics, Mechanical or Industrial Engineering, E-Learning_x000D_
, Sports Teams & Leagues, Facilities Management & Commercial Cleaning,  Rhode Island Area, Civic & Social Organization_x000D_
, Entertainment_x000D_
, ITS, Computer Equipment & Peripherals,  Inc, Government Administration_x000D_
, Lifestyle, International Affairs, information Technology and Services, Universities, Staffing and Recruiting, Business Services, ...]
Index: []

[0 rows x 474 columns]

In [99]:
old_cols = df.columns

In [100]:
required_cols = ['customer_id','total_score']
ind_flat_ls.extend(required_cols)
df_ind_added = pd.DataFrame(columns=ind_flat_ls)

In [101]:
df_ind_added.head()

Empty DataFrame
Columns: [, Health & Nutrition Products, Newspapers, Application Software , Aviation & Aerospace, Computer Software, Sporting Goods, Internet Software, Insurance_x000D_
, Retail, Home Furnishing Retail, Health, Computer Networking, Human Resources
,  Data Visualization, Finance App you can carry in your pocket, Education Management
, Grocery, Defense & Space, studioD, Acounting, Movies & Entertainment, Translation and Localization, Graphic Design,  Oil & Gas, marketing and advertising, Colleges, Telecommunication, Jewelry & Watches, civil engineering, staffing and recruiting, Restaurants, Human recources, Construction, Medical Practice, Market Research_x000D_
, Online Media
, Broadcast Media, Finance, Cable & Satellite, Program Development, Industrial Automation, Compter Software, music, Food,  Advertising, Food & Beverages
, food and beverage, Accounting & Accounting Services, Primary/Secondary Education, Water & Water Treatment, Public Relations and Communications, Capital Markets,  Bus & Taxi, Media company, Mobile Applications, Radio Stations, Market Research,  Website Hosting & Internet-related Services, Boats & Submarines,  Legal & HR Software, Information Services, Civic & Social Organization, Social network, computet software, design, Oil & Energy, Online media,  Travel & Tourism, Furniture, Newspapers & News Services, Medical Practice
, Engineering Software, Music & Music Related Services, Providence,  Energy, Bachelor of Business Administration (B.B.A.),  Convenience & Liquor Stores, Architecture,  Natural Gas,  Recruiti,  Engineering & Design, Plastics, Mechanical or Industrial Engineering, E-Learning_x000D_
, Sports Teams & Leagues, Facilities Management & Commercial Cleaning,  Rhode Island Area, Civic & Social Organization_x000D_
, Entertainment_x000D_
, ITS, Computer Equipment & Peripherals,  Inc, Government Administration_x000D_
, Lifestyle, International Affairs, information Technology and Services, Universities, Staffing and Recruiting, Business Services, ...]
Index: []

[0 rows x 476 columns]

In [27]:
#check columns 
df_ind.head()
#df_ind.columns

0    0       0                     Information Tech...
1    0       0                     Information Tech...
2    0       0                     Information Tech...
3    0       0                     Information Tech...
4    0       0                     Information Tech...
Name: industry, dtype: object