In [20]:
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df = pd.read_excel('data/sample_data.xlsx')

In [24]:
df.columns

Index(['customer_id', 'gender', 'age', 'total_score', 'industry', 'title',
       'skills'],
      dtype='object')

In [22]:
df.describe()

       customer_id  total_score
count  5022.000000  5022.000000
mean   2511.500000     5.853035
std    1449.870856     3.336261
min       1.000000     0.450000
25%    1256.250000     3.430000
50%    2511.500000     3.470000
75%    3766.750000    10.460000
max    5022.000000    10.940000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5022 entries, 0 to 5021
Data columns (total 7 columns):
customer_id    5022 non-null int64
gender         757 non-null object
age            3009 non-null object
total_score    5022 non-null float64
industry       4148 non-null object
title          2593 non-null object
skills         2366 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 274.7+ KB

In [10]:
print(df.head())

   customer_id gender  age  total_score                             industry  \
0            1    NaN  NaN         3.45  Information Technology and Services
1            2    NaN  NaN         3.44                             Internet
2            3    NaN  0-0        10.49                                  NaN
3            4   Male  0-0         3.46                         Construction
4            5    NaN  NaN         3.45                                  NaN

                                       title  \
0                                        NaN
1                                        NaN
2                                        NaN
3  Functional Architect, Business Technology
4                                        NaN

                                              skills
0                                                NaN
1                                                NaN
2                                                NaN
3  SharePoint,Management ,Business Intelligence ,...
4                                                NaN

In [45]:
total_obs = print(df.shape)

(5022, 7)

In [50]:
#check each variable for missing values
age_na = sum(df.age.isnull().values.ravel())
print(age_na)

2013

In [51]:
gender_na = sum(df.gender.isnull().values.ravel())
print(gender_na)

4265

In [52]:
ind_na = sum(df.industry.isnull().values)
print(ind_na)

874

In [53]:
title_na = sum(df.title.isnull().values)
print(title_na)

2429

In [54]:
skills_na = sum(df.skills.isnull().values)
print(skills_na)

2656

In [59]:
#check for duplicates

In [ ]:
#investigate outliers

In [6]:
#convert all values to ASCII to get rid of special characters

In [7]:
#remove '_x000D' and '_x000D_' from the beginning of the values

In [68]:
#break industry into separate columns
for i in range(df['industry'].count()):

range(0, 4148)

In [ ]:
#break title into separate columns

In [ ]:
#break skills into separate columns